body{
    background-color: #444;
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.issues-header{
    color: #5C9BD1;
    font-size: 3em;
    width: 100%;
    text-align: center;
}

.issues-header-subtitle{
    width: 100%;
    text-align: center;
    color: #888;
}

.issues-container{
    width: 1000px;
    margin: auto;
    padding: 2em;
    background-color: #eee;
}

.navigation-container{
    width: 600px;
    padding: 1em 0;
    margin: auto;
    color: #888;
}

.navigation-buttons-container{
    display: flex;
    justify-content: center;
}

.nav-btn{
    width: 150px;
    height: 50px;
    color: #fff;
    background-color: #5C9BD1;
    border: none;
    padding: 0.3em;
    margin: 0.3em;
    text-transform: lowercase;
    font-size: 1.5em;
}

.nav-btn:disabled{
    opacity: 0.5;
}

.paging-label{
    width: 100%;
    text-align: center;
}

.issues-list{
}

.issue-container{
    font-size: 1em;
    background-color: #fff;
    border-spacing: 0;
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0.3em 0;
    width: 100%;
    color: #888;
}

.user-label{
    padding: 0 0.4em 0.1em;
}

.issue-title{
    color: #5C9BD1;
    font-size: 1.2em;
    font-weight: 600;
    padding-left: 0.4em;
    text-decoration: none;
}

.status-label{
    text-transform: uppercase;
    font-size: 0.75em;
    text-align: right;
    padding: 0.5em;
    font-weight: 600;
    vertical-align: top;
}

.detail-label{
    font-size: 0.75em;
    padding: 0.5em;
    text-transform: uppercase;
    font-weight: 600;
}

.issue-stripe{
    background-color: #5C9BD1;
    width: 4px;
}

.detail-left{
    float: left;
}

.detail-right{
    float: right;
}

.last-detail-item{
    clear: both;
}

.issue-body{
    padding: 0.5em;
}